h1{
    padding-top: 10px;
    font-family: Duper;
    Color:map-get($colors, $coral);
    font-size: x-large;
}
h2{
    font-family: eigerdals;
    color: map-get($color, $verdeclaro);
    font-size: large;
}
legend{
    font-family: eigerdals;
    Color:map-get($colors: verdeclaro);
    font-size: medium;
}
h3{
    font-family: Eigerdals;
    color: map-get($color, $coral);
    font-size: medium;
}
h4{
    font-family: duper;
    color: map-get($color, $blanco);
    font-size: xx-large;
}
h5{
    padding-top: 20px;
    font-family: duper;
    color: map-get($color, $coral);
    font-size: xx-large;
}
p{
    font-family: Eigerdals;
    font-size: medium;
    color: map-get($color, $verdeoscuro);    
    text-align: justify;
}