h1{
    padding-top: 10px;
    font-family: Duper;
    color: $coral;
    font-size: x-large;
}
h2{
    font-family: eigerdals;
    color: $verdeclaro;
    font-size: large;
}
legend{
    font-family: eigerdals;
    color: $verdeclaro;
    font-size: medium;
}
h3{
    font-family: Eigerdals;
    color: $coral;
    font-size: medium;
}
h4{
    font-family: duper;
    color: white;
    font-size: xx-large;
}
h5{
    font-family: duper;
    color: $coral;
    font-size: xx-large;
}
p{
    font-family: Eigerdals;
    font-size: medium;
    color: $verdeoscuro;    
    text-align: justify;
}